# 自动识别文本/二进制文件
* text=auto

# 忽略导出（用于 git archive）
staticfiles/** export-ignore
accounts/migrations/** export-ignore
assessments/migrations/** export-ignore

# 防止 Git 覆盖这些文件
staticfiles/** -diff -merge -checkout
accounts/migrations/** -diff -merge -checkout
assessments/migrations/** -diff -merge -checkout